//Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


//Variables 
$color-ppal1: #0f4571;
$color-ppal2: #3a3132;
$color-ppal3: #386dbd;
$color-ppal4:rgb(0, 157, 221);
$color-ppal5: rgb(5, 211, 248);
$color-bg:#333333;
$color-contraste:#fff;
$fuente-t1:48px;
$fuente-t2:36px;
$fuente-t3:28px;
$fuente-texto:20px;
$screen-width:1440px;
$dist-horizontal:180px;
$dist-vertical:60px;

@mixin caja_stack {
    background-color: rgb(255,255,255, 0.3);
    padding: 5px 10px;
    border-radius: 5px;
    margin:30px;
    box-shadow: 2px 2px 10px 2px rgba(255,255,255,0.7);
}

@mixin botones {
        padding: 20px;
        border-radius: 10px;
        background-color: $color-ppal4;
        color: $color-contraste;
        font-weight: 600;
        cursor: pointer;
        text-transform: uppercase;
        width: 250px;
        margin-top: calc($dist-vertical / 2);
}

@mixin separador {
    padding: 60px;
    background-color: rgba(0,157,221,0.5) 
}


body {
    margin: 0;
    padding: 0;
    background-color: $color-bg;
    font-family: "Montserrat", sans-serif;
}

p {
    font-size: $fuente-texto;
}

h2 {
    font-size: $fuente-t2;
    color: $color-contraste;
    font-weight: 700;
}
h3 {
    font-size: $fuente-t3;
    font-weight: 700;
}

//Menu
nav {
    font-weight: 600;
}

//Seccion principal
main {
      text-align: center;
      margin: $dist-vertical calc($dist-horizontal/3);
  }

  h1{
    font-size: $fuente-t1;
  }

  .data-content {
    color: $color-contraste;
    margin-top: calc($dist-vertical / 2);
  }

  .profilepic {
    border-radius: 50%;
    border:solid 4px $color-ppal4;
  }

  .hello {
    margin-top: calc($dist-vertical / 2);
  }

  p.hello {
    font-size: $fuente-texto;
}

//Boton
.contact-btn {
    @include botones();
}

  //Seccion Stack
  .separador
  {
    @include separador();
    margin-bottom: $dist-vertical;
  }
  .stack-card {
    @include caja_stack();
  }
  .stack-card h3 {
    color: $color-ppal4;
    font-weight: 700;
    font-size: $fuente-t2;
  }

section h2 {
    text-align: center;
}

.stack-card p {
    color: $color-contraste;
}
.tarjetas {
    margin: 30px;
}

//Proyectos
.separador-2 {
    @include separador();
    display: flex;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
    margin-top: $dist-vertical;
}

.projects-container{
  margin: 0 calc($dist-horizontal/4.5);
}
.project {
  margin: $dist-vertical auto;
  padding: 20px;
  background-color: rgb(255,255,255, 0.3);
  box-shadow: 2px 2px 10px 2px rgba(255,255,255,0.7);
  color:$color-contraste;
  text-align: center;
}

img.project-img {
  max-width: 100%;
}

.project h2 {
  padding-top: 30px;
}

//Footer

footer {
  text-align: center;
  margin-top: $dist-vertical;
  display: flex;
  flex-direction: column;
}

.social-icons {
  padding-top: calc($dist-vertical/2);
  padding-bottom: $dist-vertical;
}

//CSS paginas gral

main.pages{
  margin:0;
}

//Blog

.post1 {
  padding:15px;
  margin: $dist-vertical calc($dist-horizontal/4);
  background-color: rgb(255,255,255, 0.3);
  box-shadow: 2px 2px 10px 2px rgba(255,255,255,0.7);
}

.blog-img{
  height: 200px;
  width: 100%;
}

.blog-title {
  text-align: center;
  padding-top: 20px;
  color:$color-contraste;
}

.post1 h2{
  margin-top: 25px;
}

.post1 a{
  text-decoration: none;
  color: $color-contraste;
}

.blog-img{
  height: 200px;
  width: 100%;
}

//Post

.blog-section {
  padding:15px;
  margin: $dist-vertical calc($dist-horizontal/4);
}

.post-img{
  height: 200px;
  width: 100%;
  margin-bottom: $dist-vertical;
}

.info-post h2 {
 text-align: center;
 margin-bottom: $dist-vertical;
}

.info-post p, .info-post h3, .info-post h4{
  text-align: justify;
  color: $color-contraste;
}

hr {
  color: $color-contraste;
}

//Contacto

.contact-form {
  margin: $dist-vertical calc($dist-horizontal/4);
}

.form-data {
  display: flex;
  flex-direction: column;
}

img.contactpic {
  max-width: 100%;
  border-radius: 5px;
  padding-bottom: $dist-vertical;
  margin: 0 auto;
}

h3.hello {
  padding-bottom: 20px;
  color: $color-contraste;
  text-align: center;
}

label{
  color: $color-contraste;
  font-size: 1.5em;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 60px;
  max-width: 300px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 80px;
  width: 90%;
}

textarea#message {
  flex: 1 0 150px;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 922px){
  main {
    display: flex;
    align-items: center;
  }
  .tarjetas {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
  }
  .stack-card {
    margin:0;
    width: 30%;
  }

  .separador-2 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contact-btn {
    margin-top: 0;
  }

  .projects-container {
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: $dist-vertical calc($dist-horizontal/9);
  }
  .project {
  margin: 15px;
  display: flex;
  flex-direction: column;
  }
  .separador{
    width: 100%;
  }

  //Pagina blog
  .blog-img {
    height: 350px;
  }

  //Pag Contacto

  .img-form {
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width:1920px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  .contenedor-foto{
    margin: 30px;
  }
  .tarjetas {
    display: flex;
    justify-content: center;
}
  .stack-card {
  width: 20%;
  }
  .separador-2 {
    flex-direction: row;
    justify-content: space-around;
  }
  .projects-container {
  display: flex;
  justify-content: center;
  }
  .project{
    margin: $dist-vertical calc($dist-horizontal/6);
  }
  main.pages {
    display: block;
  }
//Pagina contacto 
  .form-data {
    display: flex;
    flex-direction: row
  }

  .flex-outer li, .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    flex: 50%;
}
  .flex-outer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  li.msg {
    flex: 100%;
}
}

